.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  display: inline-block;
}

.App-header {
  background-color: #222222;
  height: 80px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
}

.App-header h2 {
  display: inline-block;
  margin-top:12px;
  margin-left: 10px;
  margin-bottom:0px;
}

.App-header h3{
  margin-top:4px;
  margin-left:10px;
  color:#eaeaea;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
