.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  display: inline-block;
}

.App-header {
  background-color: #4C5B5C;
  height: 80px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
}

.App-header h2 {
  display: inline-block;
  margin-left: 10px
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
